.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.menuButton {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #36b4eb;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}
.menuButton:hover {
    background-color: #296d8a;
}